@import "../../index";

.possibilities__container {
    padding: 4rem 0;
    display: flex;
    align-items: center;
    gap: 6rem;
    @include mobile {
        flex-direction: column;
        gap: 1rem;
    }
    @include smobile {
        flex-direction: column;
        gap: 1rem;
    }
    .img-wrapper {
        flex: 1;
        img {
            width: 100%;
            height: auto;
        }
    }
    .possibilities__info {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        p:first-child {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 3rem;
            color: #71e5ff;
        }
        h2 {
            font-weight: 800;
            font-size: 3.4rem;
            line-height: 4.5rem;
        }
        p:nth-child(3) {
            color: $color-text;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 3rem;
        }
        p:last-child {
            color: #ff8a71;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 3rem;
        }
    }
}
